.CardDescription {
  align-self: flex-end;
  margin: $spacing * 2;

  &-hgroup {
    color: $tertiary-color;
    @include transition(color);
    margin-bottom: $spacing * 2;

    &-title {
      margin-bottom: $spacing/4;
      text-align: left;
      font-size: 1rem;
      color: inherit;
    }

    &-secondary {
      text-indent: 0;
      font-weight: normal;
      text-align: left;
      color: inherit;
    }
  }

  &-content {
    flex: 1;
  }

  @include viewport(phone) {
    align-self: flex-start;
    flex-direction: row;
    display: flex;
    margin-right: 0;
    margin-left: 0;

    &-hgroup {
      margin-bottom: 0;
      margin-right: $spacing;
    }
  }
}
