.SpaceshipContent {
  padding: $spacing * 2;
  overflow-y: auto;
  border-top: 1px solid $tertiary-color--light;
  border-bottom: 1px solid $tertiary-color--light;

  &::-webkit-scrollbar {
    width: $spacing;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-color--light;
    border-radius: $spacing / 2;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
}
