.SpaceshipContent {
  padding: 0 $spacing 0 $spacing * 2;
  overflow: auto;

  &::-webkit-scrollbar {
    width: $spacing;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-color--light;
    border-radius: $spacing / 2;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
}
