.ah-social {
  display: flex;
  flex-direction: row;

  .ah-s-link-wrapper {
    @extend %align-center;
    justify-content: flex-end;
    min-width: $spacing * 22;
    padding: 0 $spacing * 1;
  }
}
