@import url("https://use.typekit.net/rhy6rqx.css");

body {
  margin: 0;
  font-family: zekton, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}