.home {
  background-color: $secondary-color;

  &-header {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    height: 50vh;
  }
  &-events {
    &-filter {
      @extend %direction-row;
      align-items: center;
      &-title {
        margin: 0;
        flex: 1;
      }
    }
    &-list {
      &-item {
        margin: $spacing * 2 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @include viewport(phone) {
    &-header {
      background-size: 100%;
    }
  }
}
