.Chip {
  @extend %position-relative;
  display: inline-block;
  margin: $spacing/2;
  height: $spacing * 4;
  min-width: $spacing * 10;

  &-content {
    @extend %position-relative;
    @extend %align-center;
    height: inherit;
    margin: 0 $spacing * 2;

    &-icon {
      margin-right: $spacing;
    }

    &-primary {
      @extend %position-relative;
      font-size: $spacing-unit * 0.1rem;
      font-weight: bold;
    }
  }
}
