.Chip {
  @extend %position-relative;
  display: inline-block;
  margin: $spacing;
  height: $spacing * 4;

  &-content {
    @extend %position-relative;
    @extend %align-center;

    &-icon {
      margin-right: $spacing;
    }

    &-primary {
      @extend %position-relative;
      font-size: $spacing-unit * 0.1rem;
      font-weight: bold;
    }
  }
}
