.Skew {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewX($spacing-unit * 2 * -1deg) skewY(0deg);
  @include transition(border-color, background-color, left, color);
  border-radius: $spacing;

  &--curve {
    &-left {
      transform: skewX($spacing-unit * 2 * 1deg) skewY(0deg);
    }
    &-right {
      transform: skewX($spacing-unit * 2 * -1deg) skewY(0deg);
    }
  }

  &--axis {
    &-x {
      transform: skewX($spacing-unit * 2 * 1deg) skewY(0deg);
    }
    &-y {
      transform: skewX(0deg) skewY($spacing-unit * 2 * -1deg);
    }
  }

  &--variant {
    &-contained {
      @extend %contained;
    }

    &-outlined {
      @extend %outlined;
    }
  }

  &--outline {
    &-bottom {
      @extend %contained;
      height: $spacing/4;
      top: auto;
    }
  }
}
