.Skew {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewX($spacing-unit * 2 * -1deg) skewY(0deg);
  @include transition(border-color, background-color, top);

  &--curve-left {
    transform: skewX($spacing-unit * 2 * 1deg) skewY(0deg);
  }

  &--curve-right {
    transform: skewX($spacing-unit * 2 * -1deg) skewY(0deg);
  }

  &--axis-x {
    transform: skewX($spacing-unit * 2 * 1deg) skewY(0deg);
  }

  &--axis-y {
    transform: skewX(0deg) skewY($spacing-unit * 2 * -1deg);
  }

  &--contained {
    @extend %contained;
  }

  &--outlined {
    @extend %outlined;
  }
}
