.TextField {
  color: $tertiary-color--light;
  width: 100%;
  max-width: $spacing * 50;
  @extend %direction-row;
  @include transition(border-color, padding);
  @extend %position-relative;

  &--fullWidth {
    max-width: inherit;
  }

  &--spacing {
    margin: $spacing 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-divider {
    @extend %position-relative;
    width: $spacing/2;
    height: $spacing * 6;
    margin: 0 $spacing/2;
  }

  &:hover,
  &--focused {
    .Skew {
      border-color: $tertiary-color--light;
    }
    .TextField-icon {
      .Icon {
        stroke: $tertiary-color--light;
      }
    }
  }
}
