.History {
  display: flex;
  flex-direction: row;
  height: $spacing * 40;

  @include viewport(phone) {
    flex-direction: column-reverse !important;
    &-text {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  &--orientation-left {
    flex-direction: row;
    & .History-text {
      margin-left: $spacing * 2;
    }
  }

  &--orientation-right {
    flex-direction: row-reverse;
    & .History-text {
      margin-right: $spacing * 2;
    }
  }

  &-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -$spacing * 6;
    min-width: 50%;
    max-height: 200px;
    height: 200px;
  }

  &-text {
    align-items: flex-end;
    display: flex;
  }
}
