.header {
  padding: $spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    position: absolute;

    .nav-link {
      margin: 0 $spacing;
    }
  }

  .mark-wrapper {
    margin: 0 auto;

    .icon-logo {
      height: $spacing * 12;

      @include viewport(phone) {
        height: $spacing * 8;
      }
    }
  }
}
