.header {
  padding: $spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: $spacing * 12;
    margin: 0 auto;

    @include viewport(phone) {
      height: $spacing * 8;
    }
  }
}