.home {
  &-intro {
    &-title {
      &-label {
        text-align: left;
        &-svg {
          height: $spacing * 24;
          width: auto;
        }
      }
      &-subject {
        text-align: left;
        font-size: 0.83em;
      }
    }

    &-events {
      max-width: $spacing * 60;
      margin: $spacing * 4 0;

      &-input {
        margin-bottom: $spacing * 4;
      }
    }
  }

  &-teachers {
    /*    position: absolute;
    height: calc(100% - #{$spacing * 8} - #{$spacing * 8} - #{$spacing * 4});
    width: 50%;
    right: 0;
    bottom: 0;*/
    @include transition(width, height);
    overflow: hidden;
    display: flex;
    align-items: center;

    &-carousel {
      display: flex;
      flex-direction: row;

      &-item {
        min-width: $spacing-unit * 2%;
        @include transition(min-width);
        text-align: center;

        &-image {
          width: 60%;
          @include transition(width, margin-top, margin-left);
        }
      }
    }
  }
}
