.about {
  z-index: 1;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
  &-title {
    margin-bottom: 0;
    &-label {
      color: $tertiary-color--light;
    }
  }
  &-history {
    margin: $spacing * 2 0;
    height: auto;
  }
}
