.Select {
  @extend %position-relative;
  padding: $spacing $spacing * 2;
  @extend %align-center;

  &-select {
    position: inherit;
    font-weight: bold;
    width: 100%;
    padding-right: $spacing * 5;
  }

  &-adornment {
    position: absolute;
    right: $spacing * 2;
  }
}
