.Input {
  color: $tertiary-color--light;
  width: 100%;
  max-width: $spacing * 50;
  border: $spacing / 4 solid $tertiary-color;
  border-radius: $spacing * 8;
  @extend %direction-row;
  @include transition(border-color, padding);
  padding: $spacing;
  box-sizing: border-box;

  &--fullWidth {
    max-width: inherit;
  }

  &--spacing {
    margin: $spacing 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-icons {
    background-color: $tertiary-color;
    border-radius: $spacing * 8;
    margin-right: $spacing * 2;
    width: $spacing * 6;
    height: $spacing * 3;
    justify-content: center;
    @extend %align-center;
    @include transition(background-color, width, height, margin-right);

    &-icon {
      stroke: $tertiary-color--light;
      @include transition(stroke, padding);
      padding: $spacing / 2;
    }
  }

  &-base {
    font-size: 1rem;
    width: 100%;
  }

  &:hover,
  &--focused {
    border-color: $tertiary-color--light;

    .Input-icons {
      background-color: $tertiary-color--light;
    }
  }

  &:hover {
    .Input-icons {
      &-icon {
        stroke: $tertiary-color;
      }
    }
  }

  &--focused {
    padding: 0 $spacing * 2 0 0;

    .Input-icons {
      width: $spacing * 9;
      height: $spacing * 5;
      margin-right: $spacing;

      &-icon {
        stroke: $primary-color !important;
        padding: 0;
      }
    }
  }
}
