.Spaceship {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: $spacing * 16 $spacing * 4;

  &--open {
    display: flex;
  }

  &-area {
    max-width: $spacing * 80;
    min-width: $spacing * 40;
    max-height: -webkit-fill-available;
    background-color: $secondary-color;
    border: $spacing / 4 solid $tertiary-color--light;
    padding: $spacing * 2 0;
    border-radius: $spacing * 4;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &-button {
      margin-top: $spacing * 2;
    }
  }

  &-sky {
    position: absolute;
    background-color: $secondary-color--light;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
