.IconButton {
  margin: 0 $spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-adornment {
    @include area($spacing * 6);
    @extend %align-center;
    justify-content: center;
    border-radius: $spacing * 3;
    border: 0;
    @include transition(width, height, border-radius);

    &-icon {
      stroke: $primary-color;
      fill: transparent;
      @include transition(stroke, fill);
    }
  }

  &--hover {
    .IconButton-adornment {
      background-color: transparent;
      @include transition(border, background-color);

      &-icon {
        stroke: $tertiary-color;
      }
    }

    &:hover {
      .IconButton-adornment {
        border: $spacing / 4 solid $tertiary-color--light;
        background-color: $tertiary-color--light;
        &-icon {
          stroke: $primary-color;
          fill: $primary-color;
        }
      }
    }
  }
}
