.IconButton {
  &-adornment {
    @include area($spacing * 6);
    @extend %align-center;
    justify-content: center;
    @include transition(width, height, border-radius);
    position: relative;

    &-icon {
      stroke: $tertiary-color;
      fill: transparent;
      @include transition(stroke, fill);
    }
  }

  &:hover {
    .IconButton-adornment {
      &-icon {
        stroke: $tertiary-color--light;
        fill: $tertiary-color--light;
      }
    }
  }

  &--hover {
    .IconButton-adornment {
      background-color: transparent;
      @include transition(border, background-color);
    }

    &:hover {
      .IconButton-adornment {
        &:before {
          border: $spacing / 4 solid $tertiary-color--light;
          background-color: $tertiary-color--light;
        }
      }
    }
  }
}
