.Card {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: $spacing * 40;

  &:hover {
    .CardMedia {
      border-color: $primary-color;
    }
    .CardDescription {
      &-hgroup {
        color: $tertiary-color--light;
      }
    }
  }

  @include viewport(phone) {
    flex-direction: column;
  }
}
