.Card {
  width: 50%;
  padding: $spacing;

  &:hover {
    .CardMedia {
      border-color: $primary-color;
    }
    .CardDescription {
      &-hgroup {
        color: $tertiary-color--light;
      }
    }
  }

  @include viewport(phone) {
    flex-direction: column;
  }
}
