.Button {
  display: flex;
  flex-direction: row;

  &--spacing {
    margin: 0 $spacing * 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // default values
  &-label {
    display: flex;
    align-items: center;
    border-bottom: $spacing/4 solid $tertiary-color;
    padding: 0 $spacing $spacing/4 0;
    margin-right: $spacing/2;
    max-width: $spacing * 20;
    flex: 1;

    &-text {
      letter-spacing: 0;
      color: $primary-color;
      margin-bottom: 0;
      @include transition(margin-bottom);
      font-size: $spacing-unit * 0.1em;
    }
  }

  &-adornment {
    display: flex;
    align-items: flex-end;

    &-ring {
      @include transition(border-color, width, height);
      @include area($button-adornment--xy);
      border-radius: $button-adornment--xy / 2;
      position: relative;

      &-icon {
        stroke: $primary-color;
        @include transition(width, height, fill, stroke);
        @include area($spacing / 0.4);
      }
    }
  }

  &:hover {
    .Button-label {
      &-icon {
        fill: $tertiary-color--light;
        stroke: $tertiary-color--light;
      }
    }
    .Button-adornment {
      &-ring {
        @extend %ring-border--hover;
        width: $button-adornment--xy * 2;
      }
    }
  }
}
