.Button {
  flex-direction: column;
  @extend %align-center;

  &--spacing {
    margin: 0 $spacing * 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // default values
  &-label {
    margin-bottom: $spacing;
    @extend %direction-row;

    &-text {
      letter-spacing: 0;
      color: $primary-color;
      margin-bottom: 0;
      @include transition(margin-bottom);
    }

    &-icon {
      @include transition(width, height, margin-right);
    }
  }
  &-adornment {
    @extend %align-center;

    &-ring {
      @include transition(border-color, width, height);
      position: relative;

      &-icon {
        stroke: $primary-color;
        @include transition(width, height, fill, stroke);
        &--small {
          @include transition(width, height);
        }
      }
    }
    &-bar {
      @extend %bar-border;
      @include transition(background-color, width);
    }
  }

  // large type values
  &-large {
    .Button-adornment {
      &-ring {
        @include area($button-adornment--xy * 2);
        border-radius: $button-adornment--xy;
      }
      &-bar {
        width: $spacing * 6;
      }
    }
    &:hover {
      .Button-adornment {
        &-ring {
          width: $button-adornment--xy * 4;
        }
        &-bar {
          width: $spacing * 2;
        }
      }
    }
  }

  // normal type values
  &-normal {
    .Button-adornment {
      &-ring {
        @include area($button-adornment--xy);
        border-radius: $button-adornment--xy / 2;
        &-icon {
          @include area($spacing / 0.4);
        }
      }
      &-bar {
        width: $spacing * 8;
      }
    }
    &:hover {
      .Button-adornment {
        &-ring {
          width: $button-adornment--xy * 4;
        }
        &-bar {
          width: $spacing * 2;
        }
      }
    }
    &--expanded {
      .Button-adornment {
        &-ring {
          width: $button-adornment--xy * 4;
        }
        &-bar {
          width: $spacing * 2;
        }
      }
    }
  }

  // small type values
  &-small {
    .Button-label {
      @extend %align-center;
      align-self: flex-start;
      margin-bottom: 0;
      &-text {
        color: $tertiary-color--light;
      }
      &-icon {
        margin-right: $spacing;

        &.Icon-facebook,
        &.Icon-instagram {
          fill: $tertiary-color;
          stroke: transparent !important;
        }
      }
    }
    .Button-adornment {
      &-ring {
        @include area($button-adornment--xy / 2);
        border-radius: $button-adornment--xy / 2;
        &-icon {
          &--small {
            @include area($spacing * 1.1);
            fill: $tertiary-color;
            stroke: transparent;
            margin-bottom: $spacing / 8;
            margin-left: $spacing / 8;
          }
        }
      }
      &-bar--left {
        width: $spacing * 18;
      }
    }
    &--condensed {
      .Button-label {
        &-text {
          margin-bottom: $spacing;
        }
        &-icon {
          margin-right: 0;
          @include area(0);
        }
      }
      .Button-adornment {
        &-ring {
          @include area($button-adornment--xy / 4);
          &-icon {
            &--small {
              @include area(0);
            }
          }
        }
        &-bar--left {
          width: $spacing * 12;
        }
      }
    }
  }

  &:hover {
    .Button-label {
      &-icon {
        fill: $tertiary-color--light;
        stroke: $tertiary-color--light;
      }
    }
    .Button-adornment {
      &-ring {
        @extend %ring-border--hover;
        &-icon {
          &--small {
            fill: $primary-color;
          }
        }
      }
      &-bar {
        @extend %bar-border--hover;
      }
    }
  }
}
