.Button {
  @extend %position-relative;
  max-width: $spacing * 30;
  @extend %align-center;
  height: $spacing * 4;
  color: $primary-color;

  &-label {
    flex: 1;
    margin: 0 $spacing * 2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $spacing-unit * 0.1rem;
  }

  &-adornment {
    @include transition(border-color, width, height);
    @include area($spacing * 6);
    @extend %position-relative;
    margin: 0 $spacing * 2;

    &-icon {
      @extend %position-relative;
      stroke: $secondary-color;
      @include transition(width, height, fill, stroke);
      @include area($spacing / 0.4);
    }
  }
}
