.Person {
  overflow: hidden;
  position: fixed;
  top: 80px;
  height: calc(100vh - 80px);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &-image {
    max-width: $spacing-unit * 10%;
    margin-right: -$spacing * 42;
  }

  @include viewport(phone) {
    top: 290px;
    &-image {
      /*
      width: $spacing-unit * 14%;
      */
      margin-right: 0;
    }
  }

  &-caption {
    visibility: hidden;
  }
}
