.Line {
  padding: $spacing;
  border: $spacing / 4 solid $tertiary-color;
  flex-direction: row;
  border-radius: $spacing * 10;
  @extend %align-center;
  background-color: $secondary-color--light;
  margin: $spacing 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-info {
    flex: 1 0;
    color: $tertiary-color;
    margin-left: $spacing * 5;

    &-title {
      text-transform: uppercase;
      margin-bottom: $spacing;
    }

    &-description {
      @extend %align-center;
      font-weight: 600;
    }
  }

  p {
    @extend %reset;
  }
}
