.Nav {
  @extend %align-center;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
  height: $spacing * 6;
  width: calc(100% - #{$spacing * 4}* 2);
  margin: $spacing * 4;
  padding: 0 $spacing;

  &-skew {
    color: $primary-color;
  }

  &-link {
    color: $tertiary-color--light;
    opacity: 1;
    @include transition(opacity, color);

    &:hover {
      opacity: $spacing-unit * 0.1;
    }

    &.active {
      color: $secondary-color;
    }
  }

  &-links {
    @extend %position-relative;
    @extend %direction-row;
    height: inherit;
    align-items: center;
    justify-content: space-around;

    &-indicator {
      color: $tertiary-color--light;
      width: 25%;
      height: calc(100% + #{$spacing}* 2);
      top: -$spacing;

      &.Nav-home-indicator {
        left: 0;
      }

      &.Nav-teachers-indicator {
        left: 25%;
      }

      &.Nav-branches-indicator {
        left: 50%;
      }

      &.Nav-about-indicator {
        left: 75%;
      }
    }

    &-link {
      @extend %position-relative;
      margin: 0 $spacing;
      min-width: $spacing * 14;
      @extend %align-center;
      justify-content: center;

      &-label {
        margin-left: $spacing;
        font-weight: bold;
        font-size: $spacing-unit * 0.1rem;
      }
    }
  }

  &-logo {
    @include area($spacing * 6);

    img {
      width: inherit;
      height: inherit;
      transform: scale(1.5);
      @include viewport(tablet) {
        transform: scale(1);
      }
    }
  }

  &-aside {
    @extend %direction-row;

    &-link {
      &:first-child {
        margin-left: $spacing * 43;
        @include viewport(tablet) {
          margin-left: 0;
        }
      }
    }
  }

  &:hover {
    .Nav-skew {
      color: $primary-color--light;
    }
  }

  @include viewport(tablet) {
    width: 100vw;
    margin: 0;
    background-color: $primary-color;
    height: $spacing * 9;
    padding: 0 $spacing * 2;
    bottom: 0;

    &-links {
      width: 100%;
      height: $spacing * 7;

      &-indicator {
        height: 100%;
        top: 0;
      }

      &-link {
        margin: 0;
        min-width: 25%;
        flex-direction: column;

        &-label {
          margin-left: 0;
          margin-top: $spacing;
        }
      }
    }
  }

  &-social {
    @extend .Nav;
    top: 0;
    left: 0;
    background-color: $common-color--black--light;
  }
}
