.Nav {
  @extend %align-center;
  position: fixed;
  height: $spacing * 7.5;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background: $common-color--black--light;

  &-link {
    margin: 0 $spacing;
    min-width: $spacing * 11.25;
    @extend %text-align-center;
    color: $tertiary-color;

    &-label {
      color: currentColor;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: $spacing/2;
      font-size: $spacing-unit * 0.09rem;
    }

    &-icon {
      stroke: currentColor !important;
    }

    &:hover,
    &.active {
      .Nav-link-icon {
        fill: currentColor;
      }
      color: $primary-color;
    }
  }

  &-bar {
    width: $spacing * 53;
    height: $spacing/4;
    position: absolute;
    overflow: hidden;
    top: 0;

    &-runner {
      background-color: $primary-color;
      width: 25%;
      height: 100%;
      margin-left: -$spacing * 5;
      @include transition(margin-left);

      &.indicate-home-page {
        margin-left: 0;
      }

      &.indicate-teachers-page {
        margin-left: 25%;
      }

      &.indicate-branches-page {
        margin-left: 50%;
      }

      &.indicate-about-page {
        margin-left: 75%;
      }
    }
  }
}
