.ImageExpand {
  width: calc(50% - #{$spacing}* 2);
  margin: $spacing !important;
  display: flex;
  justify-content: center;
  &-image {
    position: absolute;
    width: 100%;
  }
}

.ImageExpand-spaceship {
  .Spaceship-area {
    max-width: inherit;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-image {
    height: calc(100vh - #{$spacing}* 42.5);
  }
}
