.Branches {
  position: absolute;
  right: $spacing * 4;
}

.branch-map-card-header {
  z-index: 1;
  background-color: transparentize($secondary-color, 0.25);
}

.exploreBranch-list,
.branch-list {
  height: 100vh;
  overflow: auto;
  padding: $spacing * 19 $spacing $spacing * 2;

  &::-webkit-scrollbar {
    width: $spacing;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color--light;
    border-radius: $spacing / 2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }

  .Line-map-wrapper {
    height: 300px;
  }

  .Line-map {
    width: 160%;
    margin-top: -$spacing * 22.5;
    position: absolute;
    align-self: center;
  }
}

.exploreBranch-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.events-list {
  padding: $spacing * 19 $spacing * 2 $spacing * 2;
}

.event-description {
  padding: $spacing * 2;
}
