.page-title {
  max-width: 50%;
  &-label {
    font-size: $spacing-unit * 0.6rem;
  }
  &-subject {
    font-size: $spacing-unit * 0.1em;
  }
}

@import "Home/index";
@import "Teachers/index";
@import "Branches/index";
@import "About/index";
