.Indicator {
  width: calc(100% - #{$spacing} * 2);
  height: $spacing / 3.2;
  position: absolute;
  bottom: -$spacing;
  left: 0;
  overflow: hidden;

  &-bar {
    background-color: $primary-color;
    width: $spacing * 3;
    height: 100%;
    border-radius: $spacing;
    margin-left: -$spacing * 5;
    @include transition(margin-left, width);

    .indicate-home-page & {
      margin-left: 0;
    }
    .indicate-teachers-page & {
      margin-left: $spacing * 5;
    }
    .indicate-branches-page & {
      margin-left: $spacing * 10;
    }
    .indicate-connect-page & {
      margin-left: $spacing * 15;
    }
  }
}
