.App {
  display: flex;
  @extend %font-family--azo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $spacing * 2;
  font-style: normal;
  min-height: 100vh;
  background-color: $common-color--black;
  color: $tertiary-color;

  @include viewport(phone) {
    flex-direction: column;
  }
}
