.Header {
  padding: $spacing * 4;
  justify-content: space-between;
  @extend %align-center;
  @extend %z-index;

  &-nav {
    &-logo {
      margin-right: $spacing * 4;
      .Icon-logo {
        @include area($spacing * 8.5);
      }
    }

    &-link {
      margin-right: $spacing * 2;

      .Icon {
      }
    }
  }
}
