.Header {
  padding: $spacing * 4;
  justify-content: space-between;
  @extend %align-center;
  @extend %z-index;

  &-social {
    flex: 1;
    justify-content: flex-end;
  }

  &-nav {
    position: relative;

    &-logo {
      margin-right: $spacing * 4;
      .Icon-logo {
        @include area($spacing * 8.5);
      }
    }

    &-link {
      margin-right: $spacing * 2;
      position: relative;
    }

    & .active {
      .Icon {
        fill: $primary-color;
        stroke: $primary-color;
      }
    }
  }
}
