.Typography {
  &-title {
    font-family: "VLNL-Decks-W00-Bold", monospace;
    font-size: $spacing-unit * 0.4rem;
    color: $tertiary-color--light;
    letter-spacing: $spacing-unit * 1px;
  }

  &-subject {
    text-transform: uppercase;
    font-weight: 600;
  }

  &-paragraph {
    line-height: 1.5;
  }

  @include viewport(phone) {
    &-title {
      font-size: $spacing-unit * 0.2rem;
    }
    &-subject {
      font-size: $spacing-unit * 0.1rem;
    }
    &-paragraph {
      font-size: $spacing-unit * 0.12rem;
    }
  }
}
