.Typography {
  &-title {
    line-height: 1;
    font-size: 6rem;
    color: $primary-color;
  }

  &-subject {
    text-transform: uppercase;
    font-size: $spacing-unit * 0.1rem;
    font-weight: 600;
    color: $tertiary-color--light;
  }

  &-paragraph {
    font-size: 1rem;
    color: $tertiary-color;
    margin: $spacing * 2 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: $spacing * 4;
  }

  &-link {
    color: $tertiary-color--light;
    letter-spacing: 0;
  }
}
