@font-face {
  font-family: "VLNL-Decks-W00-Bold";
  src: url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.eot"); /* IE9*/
  src: url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.woff")
      format("woff"),
    /* chrome、firefox */
      url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../../asset/font/ccf21ebc0f90f99c5a63564d760f23aa.svg#VLNL Decks W00 Bold")
      format("svg"); /* iOS 4.1- */
}

.Typography {
  &-title {
    font-family: "VLNL-Decks-W00-Bold", sans-serif;
    font-size: $spacing-unit * 0.4rem;
    color: $tertiary-color--light;
    letter-spacing: $spacing-unit * 1px;
  }

  &-subject {
    text-transform: uppercase;
    font-weight: 600;
    @include transition(color);
    font-size: $spacing-unit * 0.1rem;
  }

  &-paragraph {
    line-height: 1.5;
    text-align: justify;
  }

  @include viewport(phone) {
    &-title {
      font-size: $spacing-unit * 0.2rem;
    }
    &-subject {
      font-size: $spacing-unit * 0.1rem;
    }
    &-paragraph {
      font-size: $spacing-unit * 0.12rem;
    }
  }
}
