body {
  @extend %reset;
  @extend %font-family--azo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $common-color--black;
}

a {
  text-decoration: none;
  color: currentColor;
}

label {
  @extend %cursor-pointer;
}

input {
  background-color: transparent;
  color: currentColor;
  @extend %font-family--azo;
  @extend %reset-button;
  @extend %outline-none;
  @extend %reset;
}

button {
  @extend %cursor-pointer;
  @extend %reset;
  @extend %outline-none;
  @extend %reset-button;
}

figure {
  @extend %reset;
}

h1 {
  @extend %reset;
  @extend %font-family--uber;
}

h6 {
  @extend %reset;
}

h5 {
  @extend %reset;
}

h4 {
  @extend %reset;
}

h3 {
  @extend %reset;
}

p {
  @extend %reset;
}

ul {
  @extend %reset;
}

hr {
  @extend %reset;
}

* {
  box-sizing: border-box;
}
