// animation

%transition {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

// display

%align-center {
  display: flex;
  align-items: center;
}

%direction-row {
  display: flex;
  flex-direction: row;
}

%text-align-center {
  text-align: center;
}

// typography

%font-family--uber {
  font-family: azo-sans-uber, sans-serif;
  font-style: normal;
  font-weight: 400;
}

%font-family--azo {
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
}

// theme

%outlined {
  border-width: $spacing/4;
  border-style: solid;
  border-color: currentColor;
}

%contained {
  background-color: currentColor;
}

// config

%reset {
  margin: 0;
  padding: 0;
}

%cursor-pointer {
  cursor: pointer;
}

// input

%outline-none {
  &:focus {
    outline: none;
  }
}

%reset-button {
  font: inherit;
  color: inherit;
  appearance: none;
  border: 0;
  background: transparent;
}
