.Link {
  margin-left: $spacing * 2;

  &-label {
    color: $tertiary-color;
    @extend %align-center;
    @include transition(color);

    .Icon {
      fill: $tertiary-color;
      margin-right: $spacing;
      opacity: 1;
      @include transition(opacity, margin-right, fill);
    }
  }

  &-adornment {
    margin-bottom: 0;
    @extend %align-center;
    @include transition(margin-bottom);

    &-bar {
      width: $spacing * 18;
      border-radius: $spacing / 4 0 0 $spacing / 4;
      @include transition(background-color, width);
      @extend %bar-border;
    }

    &-ring {
      @include area($spacing * 2);
      box-sizing: border-box;
      border-radius: $spacing;
      @extend %ring-border;
      @include transition(border-color, width, height, top, right);
    }
  }

  &:hover {
    .Link-label {
      .Icon {
        fill: $tertiary-color--light;
      }
    }
    .Link-adornment {
      &-bar {
        background-color: $tertiary-color--light;
      }
      &-ring {
        border-color: $tertiary-color--light;
      }
    }
  }

  &--condensed {
    .Link-label {
      .Icon {
        margin-right: -$spacing * 3;
        opacity: 0;
      }
    }

    .Link-adornment {
      margin-bottom: $spacing / 2;

      &-bar {
        width: $spacing * 16;
      }
      &-ring {
        width: $spacing / 2;
        height: $spacing / 2;
      }
    }
  }
}
