.Link {
  @extend %link;
  margin-left: $spacing * 2;

  &-label {
    color: $common-color--grey2-light;
    @extend %align-center;
    @include transition(color);

    .Icon {
      fill: $common-color--grey2-light;
      margin-right: $spacing;
      opacity: 1;
      @include transition(opacity, margin-right, fill);
    }
  }

  &-adornment {
    margin-top: $spacing;
    margin-bottom: 0;
    @extend %align-center;
    @include transition(margin-bottom);

    &-bar {
      width: $spacing * 18;
      height: $spacing / 3;
      background-color: $common-color--grey2-light;
      border-radius: $spacing / 4 0 0 $spacing / 4;
      @include transition(background-color, width);
    }

    &-ring {
      width: $spacing * 2;
      height: $spacing * 2;
      border: $spacing / 4 solid $common-color--grey2-light;
      box-sizing: border-box;
      border-radius: $spacing;
      @include transition(border-color, width, height, top, right);
    }
  }

  &:hover {
    .Link-label {
      color: $common-color--grey2;
      .Icon {
        fill: $common-color--grey2;
      }
    }
    .Link-adornment {
      &-bar {
        background-color: $common-color--grey2;
      }
      &-ring {
        border-color: $common-color--grey2;
      }
    }
  }

  &--condensed {
    .Link-label {
      .Icon {
        margin-right: -$spacing * 3;
        opacity: 0;
      }
    }

    .Link-adornment {
      margin-bottom: $spacing / 2;

      &-bar {
        width: $spacing * 16;
      }
      &-ring {
        width: $spacing / 2;
        height: $spacing / 2;
      }
    }
  }
}
