body {
  @extend %reset;
  @extend %font-family--azo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: currentColor;
  line-height: 0;
}

label {
  @extend %cursor-pointer;
}

input {
  background-color: transparent;
  color: currentColor;
  @extend %font-family--azo;
  @extend %border-none;
}

button {
  @extend %cursor-pointer;
  @extend %reset;
}

figure {
  @extend %reset;
}

h1 {
  @extend %reset;
  @extend %font-family--uber;
  @extend %text-align-center;
}

h6 {
  @extend %reset;
  @extend %text-align-center;
}
