// animation

%transition {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

// display

%align-center {
  display: flex;
  align-items: center;
}

%direction-row {
  display: flex;
  flex-direction: row;
}

%text-align-center {
  text-align: center;
}

// typography

%font-family--uber {
  font-family: azo-sans-uber, sans-serif;
  font-style: normal;
  font-weight: 400;
}

// theme

%ring-border {
  border: $spacing / 4 solid $tertiary-color;
  background-color: $secondary-color;
}

%bar-border {
  height: $spacing / 4;
  background-color: $tertiary-color;
}

%ring-border--hover {
  border-color: $tertiary-color--light;
}

%bar-border--hover {
  background-color: $tertiary-color--light;
}

// config

%reset {
  margin: 0;
  padding: 0;
}

%cursor-pointer {
  cursor: pointer;
}

%z-index {
  z-index: 1;
}
