// source https://flatuicolors.com/palette/tr

$common-color--white: #fff;
$common-color--black: #000;
$common-color--grey1: #9e9e9e;
$common-color--grey2: #dfe6e9;

$common-color--white-light: transparentize($common-color--white, 0.25);
$common-color--grey2-light: transparentize($common-color--grey2, 0.25);

$primary-color: #f44336;
$primary-color--light: transparentize($primary-color, 0.25);

$secondary-color: #212121;
$secondary-color--light: transparentize($secondary-color, 0.25);
$secondary-color--contrast: $common-color--grey2;
