.Line {
  padding: $spacing;
  flex-direction: row;
  border: $spacing / 4 solid $tertiary-color;
  border-radius: $spacing * 5;
  @extend %align-center;
  margin: $spacing 0;
  @include transition(padding, border-color);

  &:nth-child(odd) {
    background-color: $secondary-color--light;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-info {
    flex: 1 0;
    margin-left: $spacing * 3;
    @include transition(margin-left);

    &-title {
      margin-bottom: $spacing;
      text-align: left;
    }

    &-local {
      @extend %align-center;
      font-weight: 600;

      &-icon {
        @include area($spacing * 2);
      }

      &-label {
        color: $tertiary-color;
      }
    }
  }

  &:hover {
    padding: 0;
    border-color: $tertiary-color--light;

    .Line-info {
      margin-left: $spacing * 4;
    }
    .Line-button {
      & .IconButton-adornment {
        @include area($spacing * 8);
        border-radius: $spacing * 4;
      }
    }
  }
}
