.Line {
  &-header {
    display: flex;
    width: 100%;
    @include transition(padding);
    height: $spacing * 6;

    &-info {
      flex: auto;
      @extend %position-relative;
      padding: $spacing;
      color: $tertiary-color;
      height: inherit;
      display: flex;
      align-items: center;

      &-title {
        margin-left: $spacing;
        text-align: left;
        font-weight: 600;
        display: block;
        font-size: $spacing-unit * 0.1rem;
        text-transform: uppercase;
      }

      &-secondary {
        text-align: left;
        font-size: $spacing-unit * 0.1rem;
      }
    }
  }

  &-content {
    overflow: hidden;
    max-height: 0;
    @include transition(max-height);

    &--expand {
      max-height: $spacing * 100;
    }
  }

  &:hover {
    border-color: $tertiary-color--light;
  }
}
