.CardMedia {
  display: flex;
  align-items: flex-end;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  @extend %position-relative;
  border: $spacing/4 solid $tertiary-color;
  @include transition(border-color);
  padding: $spacing * 2;
  @include shadow(
    0,
    -$spacing * 24,
    $spacing * 16,
    -$spacing * 16,
    $common-color--black--light,
    inset
  );

  &-title {
    color: $tertiary-color--light;
  }

  @include viewport(phone) {
    width: 100%;
    flex: 1;
  }
}
