.Footer {
  padding: $spacing * 2 $spacing * 4;
  @extend %direction-row;
  justify-content: space-between;
  background-color: $secondary-color--light;
  color: $tertiary-color;
  @extend %z-index;

  &-rights {
    @extend %align-center;
    flex-direction: row;

    &-label {
      margin-left: $spacing;
    }
  }

  &-nav {
    @extend %direction-row;

    &-link {
      margin-right: $spacing;
    }
  }
}
