.Indicator {
  width: $spacing * 27.25;
  height: $spacing / 3.2;
  position: absolute;
  bottom: $spacing / 3;
  right: 0;
  overflow: hidden;

  &-bar {
    background-color: $primary-color;
    width: $spacing * 3;
    height: 100%;
    border-radius: $spacing;
    margin-left: -$spacing * 5;
    @include transition(margin-left, width);

    .indicate-home-page & {
      margin-left: -$spacing * 5;
    }
    .indicate-teachers-page & {
      margin-left: $spacing * 3.2;
    }
    .indicate-branches-page & {
      margin-left: $spacing * 12.1;
    }
    .indicate-connect-page & {
      margin-left: $spacing * 20;
    }
  }
}
