.Indicator {
  width: 100%;
  height: $spacing/4;
  position: absolute;
  top: -$spacing * 1.6;
  right: 0;
  overflow: hidden;

  &-bar {
    background-color: $primary-color;
    width: $spacing * 3;
    height: 100%;
    border-radius: $spacing;
    margin-left: -$spacing * 5;
    @include transition(margin-left, width);

    .indicate-home-page & {
      margin-left: -$spacing * 5;
    }
    .indicate-teachers-page & {
      margin-left: $spacing * 4.5;
    }
    .indicate-branches-page & {
      margin-left: $spacing * 16.5;
    }
    .indicate-about-page & {
      margin-left: $spacing * 28.25;
    }
  }
}
