.Section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: $spacing * 10;
  opacity: 0;
  @include transition(margin-top, opacity);
  z-index: 2;

  &--show {
    margin-top: 0;
    opacity: 1;
    transition-delay: 0.16s;
  }
}
