.Section {
  width: 100%;
  margin: $spacing * 2 0;
  display: flex;
  justify-content: center;

  &:first-child {
    margin-top: $spacing * 4;
  }

  &:last-child {
    margin-bottom: $spacing * 4;
  }
}
