$height: calc(100% - #{$spacing * 8} - #{$spacing * 8} - #{$spacing * 4});

.Highlight {
  position: absolute;
  height: $height;
  width: 50%;
  right: 0;
  overflow: hidden;
  display: flex;
  opacity: 1;
  @include transition(height, opacity, top, width);
  z-index: 1;
  align-self: center;
  bottom: 0;

  &--event {
    height: calc(100% - #{$Header--y * 2});
    top: $Header--y * 2;
    opacity: 0;
    width: 45%;
  }

  &-image {
    @include transition(height, opacity, margin-left);

    &--1st {
      z-index: 2;
      margin-left: 0;
    }

    &--2nd {
      margin-top: $spacing-unit * 0.5%;
      margin-left: -90px;
      height: calc(90% - #{$Footer--y});
      transition-delay: 0.25s;
      z-index: 1;
    }

    &--3rd {
      margin-top: $spacing-unit * 1%;
      margin-left: -80px;
      height: calc(80% - #{$Footer--y});
      transition-delay: 0.3s;
      z-index: 0;
    }

    &--2nd,
    &--3rd {
      opacity: 0;
    }
  }

  &--page,
  &-home-page {
    & .Highlight-image {
      &--1st {
        height: 300%;
      }
      &--2nd {
      }
      &--3rd {
      }
    }
  }

  &-teachers-page {
    & .Highlight-image {
      &--1st {
        height: calc(100% - #{$Footer--y});
      }
      &--2nd {
        opacity: 1;
      }
      &--3rd {
        opacity: 1;
      }
      &--2nd,
      &--3rd {
        margin-left: -$spacing * 4;
      }
    }
  }

  &-branches-page {
    & .Highlight-image {
      &--1st {
        height: calc(100% - #{$Footer--y});
      }
      &--1st,
      &--2nd,
      &--3rd {
        margin-left: 100%;
      }
    }
  }

  &-connect-page {
    & .Highlight-image {
      &--1st {
        margin-left: 0;
        height: 300%;
        opacity: 0.4;
      }
      &--2nd,
      &--3rd {
        margin-left: 100%;
      }
    }
  }
}
