$height: calc(100% - #{$spacing * 8} - #{$spacing * 8} - #{$spacing * 4});

.Highlight {
  position: absolute;
  height: $height;
  width: 50%;
  right: 0;
  overflow: hidden;
  opacity: 1;
  @include transition(height, width);
  bottom: 0;

  &-teachers-page {
    width: 100%;
    height: 100%;
  }
}
