.Header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: $common-color--black;
  padding: $spacing * 14 0 $spacing * 2 0;
  min-height: $spacing * 100;
  @extend %text-align-center;
  @extend %position-relative;
  @include shadow(
    0,
    -$spacing * 24,
    $spacing * 8,
    -$spacing * 8,
    $common-color--black--light,
    inset
  );

  &--align-left {
    text-align: left;
  }

  &--noImage {
    min-height: auto !important;
  }

  @include viewport(tablet) {
    min-height: 50vh;
    padding-top: $spacing * 9;
  }
}
