.Header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background: $common-color--black--light;
  padding: $spacing * 2 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-social {
    @extend %align-center;
  }
}
