.Header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background: $common-color--black--light;
  padding: $spacing * 2 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    line-height: 0;

    .logo {
      @include area($spacing * 6);
      @include transition(color);
      color: $tertiary-color;
    }

    &:hover {
      .logo {
        color: $primary-color;
      }
    }
  }

  &-social {
    @extend %align-center;
  }
}
